@charset "utf-8";

#welcome{
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.card{
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 15%;
    margin-bottom: 10%;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: box-shadow 0.3s ease-in-out;
}
.cardheader{
    color: lightslategrey;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
}
.cardbody{
    color: black;
    font-family: 'Montserrat', serif;
    font-size: 30px;
}
.cardimage{
    height: 60px;
    width: auto;
    margin-top: 40px;
}
form{
    background-color: white;
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 25px;
}
#username{
    height: 60px;
    width: 70%;
    color: black;
    font-family: 'Montserrat', serif;
    font-size: large;
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
    margin: auto;
}
#username:focus{
    color: black;
    outline-color: #2D9595;
    font-family: 'Montserrat', serif;
    font-size: large;
}
#password{
    height: 60px;
    width: 70%;
    color: black;
    font-family: 'Montserrat', serif;
    font-size: large;
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
    margin: auto;
}
#password:focus{
    color: black;
    outline-color: #2D9595;
    font-family: 'Montserrat', serif;
    font-size: large;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgrey;
    font-family: 'Montserrat', serif;
    font-size: large;
}
::-moz-placeholder { /* Firefox 19+ */
    color: lightgrey;
    font-family: 'Montserrat', serif;
    font-size: large;
}
:-ms-input-placeholder { /* IE 10+ */
    color: lightgrey;
    font-family: 'Montserrat', serif;
    font-size: large;
}
:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
    font-family: 'Montserrat', serif;
    font-size: large;
}
#submit{
	background-color: #2D9595;
	font-family: 'Montserrat', serif;
	font-size: large;
	border: none;
  	color: white;
	text-align: center;
	text-decoration: none;
  	display: block;
    margin: auto;
  	cursor: pointer;
  	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 3px;
  	padding-left: 15px;
	padding-right: 15px;
  	height: 60px;
	width: 72%;
}