@charset "utf-8";

#welcome{
    color: #2D9595;
    font-family: 'Montserrat', serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
#plusimage{
    width: 25px;
    height: auto;
    cursor: pointer;
}
#edit{
    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-left: 60px;
}
#delete{
    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}
.card{
    background-color: white;
    width: 375px;
    height: 400px;
    display: inline-block;
    margin-left: 16.7%;
    margin-right: -1.4;
    margin-bottom: 70px;
    
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.cardheader{
    color: #2D9595;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
}
.palette{
    background-color: #38BABA;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
}
.cardbody{ 
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.flightpath{
    font-size: 25px;
    font-weight: 500;
}
.hl{
    border-top: 1px solid lightslategrey;
    width: 95%;
    margin: auto;
    margin-top: 0px;
}
.div{
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 17.5px;
}
.vl{
    border-top: 1px solid lightslategrey;
    width: 50px;
    transform: rotate(90deg);
    display: inline-block;
}
.discount{
    font-size: 25px;
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.editdiv{
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
    cursor: pointer;
}






.description{
    color: black;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
}
.editinfo{
    color: lightslategrey;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    margin-top: 0px;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
}




.cancel{
    width: 30px;
    height: auto;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
form > label{
    color: black;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.form-popup {
    display: none;
    position: fixed;
    top: 130px;
    left: 22%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.form-container {
    max-width: 800px;
    padding: 10px;
    padding-top: 40px;
    background-color: white;
    display: grid;
}
.form-container input[type=text], .form-container input[type=password]{
    height: 30px;
    width: 770px;
    color: black;
    font-family: 'Montserrat', serif;
    font-size: large;
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    color: black;
    outline-color: #2D9595;
    font-family: 'Montserrat', serif;
    font-size: large;
}
.form-container input[type=text]:focus, .form-container input[type=password]:hover{
	border: 2px solid #2D9595;
    border-radius: 10px;
}
.form-container .btn {
    background-color: #2D9595;
	font-family: 'Montserrat', serif;
	font-size: large;
	border: none;
  	color: white;
	text-align: center;
	text-decoration: none;
  	display: block;
    margin: auto;
    margin-bottom: 10px;
  	cursor: pointer;
  	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 3px;
  	padding-left: 15px;
	padding-right: 15px;
  	height: 60px;
	width: 100%;
}
.options{
	height: 30px;
    width: 770px;
	font-family: 'Montserrat', serif;
    font-size: large;
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;

	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

	background-image: url('/dropdownarrow');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 10px center, left 10px center;
}
.options:focus{
    color: black;
    outline-color: #2D9595;
    font-family: 'Montserrat', serif;
    font-size: large;
}
.options:hover{
	border: 2px solid #2D9595;
    border-radius: 10px;
}
.options:after{
    content: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}