@charset "utf-8";


/*
HEADER AND FOOTER
*/


/*NAV BAR*/
header{
	height: 80px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}
nav{
	display: grid;
    background-color: white;
    font-family: 'Montserrat', serif;
    color: white;
    font-size: 15px;
	font-weight: 500;
	width: 85%;
	height: 80px;
	top: 0px;
	left: 0px;
    padding: 0;
    margin: 0 auto;
	/*position: fixed;*/
}
nav > ul{
	grid-column-start: 2;
	grid-column-end: 7;
}
nav > ul > li{
	float: right;
	/*display: inline;*/
	list-style-type: none;
	/*text-align: left;*/
	margin-top: 33px;
}
nav > ul > li > a{
	/*display: inline-block;*/
	color: black;
	text-decoration: none;
	height: 100%;
	float: left;
	/*margin-top: 15px;*/
	margin-left: 70px;
	/*margin-left: 40px;*/
}
nav > ul > li > a:hover{
	color: #2D9595;
}
nav > ul > li > a:active{
	color: #2D9595;
}
#logodiv{
	grid-column-start: 1;
	grid-column-end: 1;
	height: inherit;
	display: grid;
}
#logo{
	font-size: 25px;
	font-weight: 650;
	color: black;
	margin-top: 27px;
	grid-column-start: 2;
	grid-column-end: 2;
}
#logoimage{
	height: 50px;
	margin-top: 15px;
	width: auto;
	grid-column-start: 1;
	grid-column-end: 1;
	
}

#activelink{
	color: #2D9595 !important;
}
/*.menu{
	float: left
}*/
#contact{
	grid-column-start: 7;
	grid-column-end: 7;
	float: right;
}

#buttonfont{
	background-color: #2D9595;
	font-family: 'Montserrat', serif;
	font-size: 15px;
	border: none;
	color: white;
	margin-top: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	float:right;
	text-decoration: none;
	  
	cursor: pointer;
	border-radius: 10px;
	
    font-size: 15px;
	font-weight: 500;
}
#buttonfont:hover{
	background-color: #2D9595;
	color: white !important;
}


/*FOOTER*/
footer{
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #004D4D;
	color: white;
	height: 100px;
}

/*jedidiah phua*/
#jedi{
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	font-weight: lighter;
	line-height: 100px;
	margin-left: 30px;
	grid-column: 1;
}

/*say hello*/
#allo{
	text-align: right;
	font-family: 'DM Serif Text', serif;
	font-weight: 400;
	font-size: 30px;
	margin-top: 17px;
	margin-right: 15px;
	grid-column: 2;
}

/*email*/
#myemail{
	text-align: right;
	text-decoration: none;
	color: white;
	font-family: 'Average', serif;
	font-size: 12px;
	grid-column: 2;
}


/*TOP IMAGE*/
#image1{
	max-width: 100%;
	margin-top: 50px;
}