@charset "utf-8";

#welcome{
    color: #2D9595;
    font-family: 'Montserrat', serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
#plusimage{
    width: 25px;
    height: auto;
    cursor: pointer;
}
#edit{
    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-left: 60px;
}
#delete{
    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}
.card{
    background-color: white;
    width: 375px;
    height: 320px;
    display: inline-block;
    margin-left: 16.7%;
    margin-right: -1.4;
    margin-bottom: 70px;
    
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.cardheader{
    color: #2D9595;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
}
.palette{
    background-color: #38BABA;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
}
.cardbody{ 
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.flightpath{
    font-size: 25px;
    font-weight: 500;
}
.hl{
    border-top: 1px solid lightslategrey;
    width: 95%;
    margin: auto;
    margin-top: 0px;
}
.div{
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 17.5px;
}
.vl{
    border-top: 1px solid lightslategrey;
    width: 50px;
    transform: rotate(90deg);
    display: inline-block;
}
.discount{
    font-size: 25px;
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.editdiv{
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
    cursor: pointer;
}